In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CSV_2025_07_20_08_07_17.csv")
df.head()

,Date,Type,Category,Amount,Currency,Memo,Wallet
0,"07/20/2025, 4:16 PM",Expense,Food,-40.0,INR,Maggie and Biscuit,ICICI Savings Account
1,"07/19/2025, 8:47 PM",Expense,Food,-20.0,INR,Biscuits,ICICI Savings Account
2,"07/19/2025, 8:36 PM",Expense,Food,-25.0,INR,Mess chowin,ICICI Savings Account
3,"07/18/2025, 8:08 PM",Expense,Food,-20.0,INR,Biscuits,ICICI Savings Account
4,"07/17/2025, 5:03 PM",Expense,Food,-140.0,INR,Lunch Noodles,ICICI Savings Account

In [3]:
df['Date']=pd.to_datetime(df['Date'])
df.head()

/var/folders/jg/rq61_lps6fx5jxn6spdjl0_00000gn/T/ipykernel_6574/3951332809.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date']=pd.to_datetime(df['Date'])

,Date,Type,Category,Amount,Currency,Memo,Wallet
0,2025-07-20 16:16:00,Expense,Food,-40.0,INR,Maggie and Biscuit,ICICI Savings Account
1,2025-07-19 20:47:00,Expense,Food,-20.0,INR,Biscuits,ICICI Savings Account
2,2025-07-19 20:36:00,Expense,Food,-25.0,INR,Mess chowin,ICICI Savings Account
3,2025-07-18 20:08:00,Expense,Food,-20.0,INR,Biscuits,ICICI Savings Account
4,2025-07-17 17:03:00,Expense,Food,-140.0,INR,Lunch Noodles,ICICI Savings Account